




.outer{
    background-color: rgb(49, 49, 45);
    display: block;
    margin: 1rem;
}


.outer div{
    margin: 2rem;
}
h1{
    color: white;
    font-size:100%;
    text-align: center;
    position: relative;
    margin: 5% 45% 5% 45% ;
    margin-top: 1rem;
}
.comodity{
    align-items: center;
    
}
.comodity form label{
    display: block;
}


form{
    border-radius: 5%;
   position: relative;
   background-color: rgb(12, 28, 18) !important;
}
form label,form input{
    color:white;
    display: block;
    text-align: center;

}

form input,form select{
    color: black;
    position: relative;
    margin-left: 47%;
    text-align:  center;
}



.submit{
    background-color: rgb(95, 150, 225);
    position: relative;
    left: 0%;
    width: 10rem;
    border-radius: 25%;
    margin-top: 1%;
}



@media  only screen and (max-width : 600px) {
    form input,form select{
        margin-left:27%;
    }
}